In [58]:
# Logistic Regression
# Inspired from Deeplearning.ai - Coursera
# These code bases are not a repository of the course assignments, but my personal experimental repository

In [11]:
# Loading the necessary packages 
# numpy is the fundamental package for scientific computing with Python.
# h5py is a common package to interact with a dataset that is stored on an H5 file.
# matplotlib is a famous library to plot graphs in Python.
# PIL and scipy are used here to test your model with your own picture at the end.

import numpy as np
import matplotlib.pyplot as plt
import h5py
import scipy
import pandas as pd
from PIL import Image
from scipy import ndimage

In [24]:
# Locating the dataset
cd "C:\users\vimal.kumar\desktop\lr_titanic_dataset"

C:\users\vimal.kumar\desktop\lr_titanic_dataset

In [48]:
# loading the training dataset
train = pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [54]:
# studying the structure of the dataset uploaded
train.shape
list(train.columns.values)

['PassengerId',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [69]:
# Understand the ground truth/dependent variable 
train.Survived.unique()

array([0, 1], dtype=int64)

In [55]:
# creating a seperate dataset for the ground truth/dependent variable
train_set_y=train['Survived']

In [57]:
# creating a dataset with only the training independent variables
train_set_x_orig=train.drop(['Survived'], axis=1)
test_set_x_orig=test

In [94]:
# EDA
train_set_x_orig.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [92]:
# df.info provides a conscise summary of variables
train_set_x_orig.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB

In [145]:
# The dataset contains both categorical and continuous variables
# Creating a seperate dataset for categorical (for on hot encoding) and continous (normalization)

train_set_x_orig.columns.unique()

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [151]:
Numerical = ['PassengerId','Age','Fare']

In [159]:
train_set_x_orig_num=train_set_x_orig[Numerical]
train_set_x_orig_cat=train_set_x_orig.drop(Numerical, axis=1)

,Pclass,Name,Sex,SibSp,Parch,Ticket,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,C85,C
2,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,C123,S
4,3,"Allen, Mr. William Henry",male,0,0,373450,NaN,S
5,3,"Moran, Mr. James",male,0,0,330877,NaN,Q
6,1,"McCarthy, Mr. Timothy J",male,0,0,17463,E46,S
7,3,"Palsson, Master. Gosta Leonard",male,3,1,349909,NaN,S
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,0,2,347742,NaN,S
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,1,0,237736,NaN,C
10,3,"Sandstrom, Miss. Marguerite Rut",female,1,1,PP 9549,G6,S
11,1,"Bonnell, Miss. Elizabeth",female,0,0,113783,C103,S
12,3,"Saundercock, Mr. William Henry",male,0,0,A/5. 2151,NaN,S
13,3,"Andersson, Mr. Anders Johan",male,1,5,347082,NaN,S
14,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,0,0,350406,NaN,S
15,2,"Hewlett, Mrs. (Mary D Kingcome)",female,0,0,248706,NaN,S
16,3,"Rice, Master. Eugene",male,4,1,382652,NaN,Q
17,2,"Williams, Mr. Charles Eugene",male,0,0,244373,NaN,S
18,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,1,0,345763,NaN,S
19,3,"Masselmani, Mrs. Fatima",female,0,0,2649,NaN,C
20,2,"Fynney, Mr. Joseph J",male,0,0,239865,NaN,S
21,2,"Beesley, Mr. Lawrence",male,0,0,248698,D56,S
22,3,"McGowan, Miss. Anna ""Annie""",female,0,0,330923,NaN,Q
23,1,"Sloper, Mr. William Thompson",male,0,0,113788,A6,S
24,3,"Palsson, Miss. Torborg Danira",female,3,1,349909,NaN,S
25,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,1,5,347077,NaN,S
26,3,"Emir, Mr. Farred Chehab",male,0,0,2631,NaN,C
27,1,"Fortune, Mr. Charles Alexander",male,3,2,19950,C23 C25 C27,S
28,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,0,0,330959,NaN,Q
29,3,"Todoroff, Mr. Lalio",male,0,0,349216,NaN,S
...,...,...,...,...,...,...,...,...
861,2,"Giles, Mr. Frederick Edward",male,1,0,28134,NaN,S
862,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,0,0,17466,D17,S
863,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,8,2,CA. 2343,NaN,S
864,2,"Gill, Mr. John William",male,0,0,233866,NaN,S
865,2,"Bystrom, Mrs. (Karolina)",female,0,0,236852,NaN,S
866,2,"Duran y More, Miss. Asuncion",female,1,0,SC/PARIS 2149,NaN,C
867,1,"Roebling, Mr. Washington Augustus II",male,0,0,PC 17590,A24,S
868,3,"van Melkebeke, Mr. Philemon",male,0,0,345777,NaN,S
869,3,"Johnson, Master. Harold Theodor",male,1,1,347742,NaN,S
870,3,"Balkic, Mr. Cerin",male,0,0,349248,NaN,S
871,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,1,1,11751,D35,S
872,1,"Carlsson, Mr. Frans Olof",male,0,0,695,B51 B53 B55,S
873,3,"Vander Cruyssen, Mr. Victor",male,0,0,345765,NaN,S
874,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,1,0,P/PP 3381,NaN,C
875,3,"Najib, Miss. Adele Kiamie ""Jane""",female,0,0,2667,NaN,C
876,3,"Gustafsson, Mr. Alfred Ossian",male,0,0,7534,NaN,S
877,3,"Petroff, Mr. Nedelio",male,0,0,349212,NaN,S
878,3,"Laleff, Mr. Kristo",male,0,0,349217,NaN,S
879,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,0,1,11767,C50,C
880,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,0,1,230433,NaN,S
881,3,"Markun, Mr. Johann",male,0,0,349257,NaN,S
882,3,"Dahlberg, Miss. Gerda Ulrika",female,0,0,7552,NaN,S
883,2,"Banfield, Mr. Frederick James",male,0,0,C.A./SOTON 34068,NaN,S
884,3,"Sutehall, Mr. Henry Jr",male,0,0,SOTON/OQ 392076,NaN,S
885,3,"Rice, Mrs. William (Margaret Norton)",female,0,5,382652,NaN,Q
886,2,"Montvila, Rev. Juozas",male,0,0,211536,NaN,S
887,1,"Graham, Miss. Margaret Edith",female,0,0,112053,B42,S
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,NaN,S
889,1,"Behr, Mr. Karl Howell",male,0,0,111369,C148,C
890,3,"Dooley, Mr. Patrick",male,0,0,370376,NaN,Q

In [158]:
train_set_x_orig.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [161]:
ticket_array=train_set_x_orig.Ticket.unique()
ticket_array.sort()

In [162]:
# There seems to be the type of ticket attached to the ticket number, which can be extracted and made as a categorical variable.
# There are full stops, that need to be removed
ticket_array

array(['110152', '110413', '110465', '110564', '110813', '111240',
       '111320', '111361', '111369', '111426', '111427', '111428',
       '112050', '112052', '112053', '112058', '112059', '112277',
       '112379', '113028', '113043', '113050', '113051', '113055',
       '113056', '113059', '113501', '113503', '113505', '113509',
       '113510', '113514', '113572', '113760', '113767', '113773',
       '113776', '113781', '113783', '113784', '113786', '113787',
       '113788', '113789', '113792', '113794', '113796', '113798',
       '113800', '113803', '113804', '113806', '113807', '11668', '11751',
       '11752', '11753', '11755', '11765', '11767', '11769', '11771',
       '11774', '11813', '11967', '12233', '12460', '12749', '13049',
       '13213', '13214', '13502', '13507', '13509', '13567', '13568',
       '14311', '14312', '14313', '14973', '1601', '16966', '16988',
       '17421', '17453', '17463', '17464', '17465', '17466', '17474',
       '17764', '19877', '19928', '19943', '19947', '19950', '19952',
       '19972', '19988', '19996', '2003', '211536', '21440', '218629',
       '219533', '220367', '220845', '2223', '223596', '226593', '226875',
       '228414', '229236', '230080', '230136', '230433', '230434',
       '231919', '231945', '233639', '233866', '234360', '234604',
       '234686', '234818', '236171', '236852', '236853', '237442',
       '237565', '237668', '237671', '237736', '237789', '237798',
       '239853', '239854', '239855', '239856', '239865', '240929',
       '24160', '243847', '243880', '244252', '244270', '244278',
       '244310', '244358', '244361', '244367', '244373', '248698',
       '248706', '248723', '248727', '248731', '248733', '248738',
       '248740', '248747', '250643', '250644', '250646', '250647',
       '250648', '250649', '250651', '250652', '250653', '250655', '2620',
       '2623', '2624', '2625', '2626', '2627', '2628', '2629', '2631',
       '26360', '2641', '2647', '2648', '2649', '2650', '2651', '2653',
       '2659', '2661', '2662', '2663', '2664', '2665', '2666', '2667',
       '2668', '2669', '26707', '2671', '2672', '2674', '2677', '2678',
       '2680', '2683', '2685', '2686', '2687', '2689', '2690', '2691',
       '2693', '2694', '2695', '2697', '2699', '2700', '27042', '27267',
       '27849', '28134', '28206', '28213', '28220', '28228', '28403',
       '28424', '28425', '28551', '28664', '28665', '29011', '2908',
       '29103', '29104', '29105', '29106', '29108', '2926', '29750',
       '29751', '3101264', '3101265', '3101267', '3101276', '3101277',
       '3101278', '3101281', '3101295', '3101296', '3101298', '31027',
       '31028', '312991', '312992', '312993', '31418', '315037', '315082',
       '315084', '315086', '315088', '315089', '315090', '315093',
       '315094', '315096', '315097', '315098', '315151', '315153',
       '323592', '323951', '324669', '330877', '330909', '330919',
       '330923', '330931', '330932', '330935', '330958', '330959',
       '330979', '330980', '334912', '335097', '335677', '33638',
       '336439', '3411', '341826', '34218', '342826', '343095', '343120',
       '343275', '343276', '345364', '345572', '345763', '345764',
       '345765', '345767', '345769', '345770', '345773', '345774',
       '345777', '345778', '345779', '345780', '345781', '345783', '3460',
       '347054', '347060', '347061', '347062', '347063', '347064',
       '347067', '347068', '347069', '347071', '347073', '347074',
       '347076', '347077', '347078', '347080', '347081', '347082',
       '347083', '347085', '347087', '347088', '347089', '3474', '347464',
       '347466', '347468', '347470', '347742', '347743', '348121',
       '348123', '348124', '349201', '349203', '349204', '349205',
       '349206', '349207', '349208', '349209', '349210', '349212',
       '349213', '349214', '349215', '349216', '349217', '349218',
       '349219', '349221', '349222', '349223', '349224', '349225',
       '349227', '349228', '349231', '349233', '349234', '349236',
       '349237', '349239', '349240', '349241', '349242', '349243',
       '349244', '349245', '349246', '349247', '349248', '349249',
       '349251', '349252', '349253', '349254', '349256', '349257',
       '349909', '349910', '349912', '350025', '350026', '350029',
       '350034', '350035', '350036', '350042', '350043', '350046',
       '350047', '350048', '350050', '350052', '350060', '350404',
       '350406', '350407', '350417', '35273', '35281', '35851', '35852',
       '358585', '36209', '362316', '363291', '363294', '363592',
       '364498', '364499', '364500', '364506', '364511', '364512',
       '364516', '364846', '364848', '364849', '364850', '364851',
       '365222', '365226', '36568', '367226', '367228', '367229',
       '367230', '367231', '367232', '367655', '368323', '36864', '36865',
       '36866', '368703', '36928', '36947', '36963', '36967', '36973',
       '370129', '370365', '370369', '370370', '370371', '370372',
       '370373', '370375', '370376', '370377', '371060', '371110',
       '371362', '372622', '373450', '374746', '374887', '374910',
       '376564', '376566', '382649', '382651', '382652', '383121',
       '384461', '386525', '392091', '392092', '392096', '394140', '4133',
       '4134', '4135', '4136', '4137', '4138', '4579', '54636', '5727',
       '65303', '65304', '65306', '6563', '693', '695', '7267', '7534',
       '7540', '7545', '7546', '7552', '7553', '7598', '8471', '8475',
       '9234', 'A./5. 2152', 'A./5. 3235', 'A.5. 11206', 'A.5. 18509',
       'A/4 45380', 'A/4 48871', 'A/4. 20589', 'A/4. 34244', 'A/4. 39886',
       'A/5 21171', 'A/5 21172', 'A/5 21173', 'A/5 21174', 'A/5 2466',
       'A/5 2817', 'A/5 3536', 'A/5 3540', 'A/5 3594', 'A/5 3902',
       'A/5. 10482', 'A/5. 13032', 'A/5. 2151', 'A/5. 3336', 'A/5. 3337',
       'A/5. 851', 'A/S 2816', 'A4. 54510', 'C 17369', 'C 4001', 'C 7075',
       'C 7076', 'C 7077', 'C.A. 17248', 'C.A. 18723', 'C.A. 2315',
       'C.A. 24579', 'C.A. 24580', 'C.A. 2673', 'C.A. 29178',
       'C.A. 29395', 'C.A. 29566', 'C.A. 31026', 'C.A. 31921',
       'C.A. 33111', 'C.A. 33112', 'C.A. 33595', 'C.A. 34260',
       'C.A. 34651', 'C.A. 37671', 'C.A. 5547', 'C.A. 6212',
       'C.A./SOTON 34068', 'CA 2144', 'CA. 2314', 'CA. 2343',
       'F.C. 12750', 'F.C.C. 13528', 'F.C.C. 13529', 'F.C.C. 13531',
       'Fa 265302', 'LINE', 'P/PP 3381', 'PC 17318', 'PC 17473',
       'PC 17474', 'PC 17475', 'PC 17476', 'PC 17477', 'PC 17482',
       'PC 17483', 'PC 17485', 'PC 17558', 'PC 17569', 'PC 17572',
       'PC 17582', 'PC 17585', 'PC 17590', 'PC 17592', 'PC 17593',
       'PC 17595', 'PC 17596', 'PC 17597', 'PC 17599', 'PC 17600',
       'PC 17601', 'PC 17603', 'PC 17604', 'PC 17605', 'PC 17608',
       'PC 17609', 'PC 17610', 'PC 17611', 'PC 17612', 'PC 17754',
       'PC 17755', 'PC 17756', 'PC 17757', 'PC 17758', 'PC 17759',
       'PC 17760', 'PC 17761', 'PP 4348', 'PP 9549', 'S.C./A.4. 23567',
       'S.C./PARIS 2079', 'S.O./P.P. 3', 'S.O./P.P. 751', 'S.O.C. 14879',
       'S.O.P. 1166', 'S.P. 3464', 'S.W./PP 752', 'SC 1748',
       'SC/AH 29037', 'SC/AH 3085', 'SC/AH Basle 541', 'SC/PARIS 2131',
       'SC/PARIS 2133', 'SC/PARIS 2146', 'SC/PARIS 2149', 'SC/PARIS 2167',
       'SC/Paris 2123', 'SC/Paris 2163', 'SCO/W 1585', 'SO/C 14885',
       'SOTON/O.Q. 3101305', 'SOTON/O.Q. 3101306', 'SOTON/O.Q. 3101307',
       'SOTON/O.Q. 3101310', 'SOTON/O.Q. 3101311', 'SOTON/O.Q. 3101312',
       'SOTON/O.Q. 392078', 'SOTON/O.Q. 392087', 'SOTON/O2 3101272',
       'SOTON/O2 3101287', 'SOTON/OQ 3101316', 'SOTON/OQ 3101317',
       'SOTON/OQ 392076', 'SOTON/OQ 392082', 'SOTON/OQ 392086',
       'SOTON/OQ 392089', 'SOTON/OQ 392090', 'STON/O 2. 3101269',
       'STON/O 2. 3101273', 'STON/O 2. 3101274', 'STON/O 2. 3101275',
       'STON/O 2. 3101280', 'STON/O 2. 3101285', 'STON/O 2. 3101286',
       'STON/O 2. 3101288', 'STON/O 2. 3101289', 'STON/O 2. 3101292',
       'STON/O 2. 3101293', 'STON/O 2. 3101294', 'STON/O2. 3101271',
       'STON/O2. 3101279', 'STON/O2. 3101282', 'STON/O2. 3101283',
       'STON/O2. 3101290', 'SW/PP 751', 'W./C. 14258', 'W./C. 14263',
       'W./C. 6607', 'W./C. 6608', 'W./C. 6609', 'W.E.P. 5734',
       'W/C 14208', 'WE/P 5735'], dtype=object)

In [165]:
ticket_array=print([s.replace('.', '') for s in ticket_array])

['110152', '110413', '110465', '110564', '110813', '111240', '111320', '111361', '111369', '111426', '111427', '111428', '112050', '112052', '112053', '112058', '112059', '112277', '112379', '113028', '113043', '113050', '113051', '113055', '113056', '113059', '113501', '113503', '113505', '113509', '113510', '113514', '113572', '113760', '113767', '113773', '113776', '113781', '113783', '113784', '113786', '113787', '113788', '113789', '113792', '113794', '113796', '113798', '113800', '113803', '113804', '113806', '113807', '11668', '11751', '11752', '11753', '11755', '11765', '11767', '11769', '11771', '11774', '11813', '11967', '12233', '12460', '12749', '13049', '13213', '13214', '13502', '13507', '13509', '13567', '13568', '14311', '14312', '14313', '14973', '1601', '16966', '16988', '17421', '17453', '17463', '17464', '17465', '17466', '17474', '17764', '19877', '19928', '19943', '19947', '19950', '19952', '19972', '19988', '19996', '2003', '211536', '21440', '218629', '219533', '220367', '220845', '2223', '223596', '226593', '226875', '228414', '229236', '230080', '230136', '230433', '230434', '231919', '231945', '233639', '233866', '234360', '234604', '234686', '234818', '236171', '236852', '236853', '237442', '237565', '237668', '237671', '237736', '237789', '237798', '239853', '239854', '239855', '239856', '239865', '240929', '24160', '243847', '243880', '244252', '244270', '244278', '244310', '244358', '244361', '244367', '244373', '248698', '248706', '248723', '248727', '248731', '248733', '248738', '248740', '248747', '250643', '250644', '250646', '250647', '250648', '250649', '250651', '250652', '250653', '250655', '2620', '2623', '2624', '2625', '2626', '2627', '2628', '2629', '2631', '26360', '2641', '2647', '2648', '2649', '2650', '2651', '2653', '2659', '2661', '2662', '2663', '2664', '2665', '2666', '2667', '2668', '2669', '26707', '2671', '2672', '2674', '2677', '2678', '2680', '2683', '2685', '2686', '2687', '2689', '2690', '2691', '2693', '2694', '2695', '2697', '2699', '2700', '27042', '27267', '27849', '28134', '28206', '28213', '28220', '28228', '28403', '28424', '28425', '28551', '28664', '28665', '29011', '2908', '29103', '29104', '29105', '29106', '29108', '2926', '29750', '29751', '3101264', '3101265', '3101267', '3101276', '3101277', '3101278', '3101281', '3101295', '3101296', '3101298', '31027', '31028', '312991', '312992', '312993', '31418', '315037', '315082', '315084', '315086', '315088', '315089', '315090', '315093', '315094', '315096', '315097', '315098', '315151', '315153', '323592', '323951', '324669', '330877', '330909', '330919', '330923', '330931', '330932', '330935', '330958', '330959', '330979', '330980', '334912', '335097', '335677', '33638', '336439', '3411', '341826', '34218', '342826', '343095', '343120', '343275', '343276', '345364', '345572', '345763', '345764', '345765', '345767', '345769', '345770', '345773', '345774', '345777', '345778', '345779', '345780', '345781', '345783', '3460', '347054', '347060', '347061', '347062', '347063', '347064', '347067', '347068', '347069', '347071', '347073', '347074', '347076', '347077', '347078', '347080', '347081', '347082', '347083', '347085', '347087', '347088', '347089', '3474', '347464', '347466', '347468', '347470', '347742', '347743', '348121', '348123', '348124', '349201', '349203', '349204', '349205', '349206', '349207', '349208', '349209', '349210', '349212', '349213', '349214', '349215', '349216', '349217', '349218', '349219', '349221', '349222', '349223', '349224', '349225', '349227', '349228', '349231', '349233', '349234', '349236', '349237', '349239', '349240', '349241', '349242', '349243', '349244', '349245', '349246', '349247', '349248', '349249', '349251', '349252', '349253', '349254', '349256', '349257', '349909', '349910', '349912', '350025', '350026', '350029', '350034', '350035', '350036', '350042', '350043', '350046', '350047', '350048', '350050', '350052', '350060', '350404', '350406', '350407', '350417', '35273', '35281', '35851', '35852', '358585', '36209', '362316', '363291', '363294', '363592', '364498', '364499', '364500', '364506', '364511', '364512', '364516', '364846', '364848', '364849', '364850', '364851', '365222', '365226', '36568', '367226', '367228', '367229', '367230', '367231', '367232', '367655', '368323', '36864', '36865', '36866', '368703', '36928', '36947', '36963', '36967', '36973', '370129', '370365', '370369', '370370', '370371', '370372', '370373', '370375', '370376', '370377', '371060', '371110', '371362', '372622', '373450', '374746', '374887', '374910', '376564', '376566', '382649', '382651', '382652', '383121', '384461', '386525', '392091', '392092', '392096', '394140', '4133', '4134', '4135', '4136', '4137', '4138', '4579', '54636', '5727', '65303', '65304', '65306', '6563', '693', '695', '7267', '7534', '7540', '7545', '7546', '7552', '7553', '7598', '8471', '8475', '9234', 'A/5 2152', 'A/5 3235', 'A5 11206', 'A5 18509', 'A/4 45380', 'A/4 48871', 'A/4 20589', 'A/4 34244', 'A/4 39886', 'A/5 21171', 'A/5 21172', 'A/5 21173', 'A/5 21174', 'A/5 2466', 'A/5 2817', 'A/5 3536', 'A/5 3540', 'A/5 3594', 'A/5 3902', 'A/5 10482', 'A/5 13032', 'A/5 2151', 'A/5 3336', 'A/5 3337', 'A/5 851', 'A/S 2816', 'A4 54510', 'C 17369', 'C 4001', 'C 7075', 'C 7076', 'C 7077', 'CA 17248', 'CA 18723', 'CA 2315', 'CA 24579', 'CA 24580', 'CA 2673', 'CA 29178', 'CA 29395', 'CA 29566', 'CA 31026', 'CA 31921', 'CA 33111', 'CA 33112', 'CA 33595', 'CA 34260', 'CA 34651', 'CA 37671', 'CA 5547', 'CA 6212', 'CA/SOTON 34068', 'CA 2144', 'CA 2314', 'CA 2343', 'FC 12750', 'FCC 13528', 'FCC 13529', 'FCC 13531', 'Fa 265302', 'LINE', 'P/PP 3381', 'PC 17318', 'PC 17473', 'PC 17474', 'PC 17475', 'PC 17476', 'PC 17477', 'PC 17482', 'PC 17483', 'PC 17485', 'PC 17558', 'PC 17569', 'PC 17572', 'PC 17582', 'PC 17585', 'PC 17590', 'PC 17592', 'PC 17593', 'PC 17595', 'PC 17596', 'PC 17597', 'PC 17599', 'PC 17600', 'PC 17601', 'PC 17603', 'PC 17604', 'PC 17605', 'PC 17608', 'PC 17609', 'PC 17610', 'PC 17611', 'PC 17612', 'PC 17754', 'PC 17755', 'PC 17756', 'PC 17757', 'PC 17758', 'PC 17759', 'PC 17760', 'PC 17761', 'PP 4348', 'PP 9549', 'SC/A4 23567', 'SC/PARIS 2079', 'SO/PP 3', 'SO/PP 751', 'SOC 14879', 'SOP 1166', 'SP 3464', 'SW/PP 752', 'SC 1748', 'SC/AH 29037', 'SC/AH 3085', 'SC/AH Basle 541', 'SC/PARIS 2131', 'SC/PARIS 2133', 'SC/PARIS 2146', 'SC/PARIS 2149', 'SC/PARIS 2167', 'SC/Paris 2123', 'SC/Paris 2163', 'SCO/W 1585', 'SO/C 14885', 'SOTON/OQ 3101305', 'SOTON/OQ 3101306', 'SOTON/OQ 3101307', 'SOTON/OQ 3101310', 'SOTON/OQ 3101311', 'SOTON/OQ 3101312', 'SOTON/OQ 392078', 'SOTON/OQ 392087', 'SOTON/O2 3101272', 'SOTON/O2 3101287', 'SOTON/OQ 3101316', 'SOTON/OQ 3101317', 'SOTON/OQ 392076', 'SOTON/OQ 392082', 'SOTON/OQ 392086', 'SOTON/OQ 392089', 'SOTON/OQ 392090', 'STON/O 2 3101269', 'STON/O 2 3101273', 'STON/O 2 3101274', 'STON/O 2 3101275', 'STON/O 2 3101280', 'STON/O 2 3101285', 'STON/O 2 3101286', 'STON/O 2 3101288', 'STON/O 2 3101289', 'STON/O 2 3101292', 'STON/O 2 3101293', 'STON/O 2 3101294', 'STON/O2 3101271', 'STON/O2 3101279', 'STON/O2 3101282', 'STON/O2 3101283', 'STON/O2 3101290', 'SW/PP 751', 'W/C 14258', 'W/C 14263', 'W/C 6607', 'W/C 6608', 'W/C 6609', 'WEP 5734', 'W/C 14208', 'WE/P 5735']

In [65]:
# Transposing the dataset such that individual training datapoint are across columns
train_set_x_flatten=train_set_x_orig.T
test_set_x_flatten=test_set_x_orig.T